---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.mdx", { eager: true }),
);

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h1>What I'm Up To</h1>

    <ul>
      {
        allPosts.map((post: any) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </section>
</BaseLayout>
