---

---

<div class="card">
  <slot />
</div>

<style>
  .card {
    /* max-width: fit-content; */
    /* color: black; */
    /* background-color: #f9f9f9; */

    border: 1px solid transparent;
    background:
      linear-gradient(navy, transparent) padding-box,
      linear-gradient(90deg, #ff6b6b, #4ecdc4, #45b7d1) border-box;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }
</style>
