---
import Navigation from "./Navigation.astro";
---

<style>
  header {
    background-color: rgb(99, 99, 250);
    padding: 0.5rem;
  }
</style>

<header>
  <nav>
    <Navigation />
  </nav>
</header>
