---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
---

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: fit-content;

    background-color: var(--blue-3);
    backdrop-filter: blur(10px);
    border: 1px solid var(--blue-7);
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 4px 12px var(--slate-1);
  }

  .logo {
    width: 40px;
    height: 40px;
    display: block;
    flex-shrink: 0;
  }

  nav {
    display: flex;
    align-items: center;
  }
</style>

<header>
  <nav>
    <!-- <Menu /> -->
    <Navigation />
  </nav>
</header>
