---
import Card from "./Card.astro";

interface Props {
  href: string;
  label: string;
  rel?: string;
}

const { href, label, rel = "me noreferrer" } = Astro.props;
---

<a href={href} target="_blank" rel={rel} aria-label={label}>
  <Card variant="social">
    <slot />
  </Card>
</a>

<style>
  a {
    text-decoration: none;
    display: block;
    flex: 1;
  }
</style>
